.about-me{
    background-color: #ffffff;
    background-image: radial-gradient(#d3d3d3 0.8500000000000001px, #ffffff 0.8500000000000001px);
    background-size: 17px 17px;
    padding-top: 3%;
    padding-bottom: 3%;
}

.about-section-text .text-container{
    margin: 3%;
    background-color: white;
}

.about-section-text .text-container p{
    margin-bottom: 8%;
    text-align: justify;
}
.software-tools{
    width: 100%;
}
.software-tools-name{
    border: 0.5px solid rgba(0,0,0,.125);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin: auto;
}


@media screen and (max-width : 948px){
    .about-section-text .text-container p, .software-tools-name{
        font-size: 1.6vw;
    }
}

@media screen and (max-width : 480px){
    .about-section-text .text-container p, .software-tools-name{
        font-size: 3.6vw;
    }
}