.about-me{
    background-color: #ffffff;
    background-image: radial-gradient(#d5d3d3 0.850000000000000000001px, #ffffff 0.850000000000000001px);
    background-size: 17px 17px;
    padding-top: 3%;
    padding-bottom: 3%;
}

.about-me .container{
    background-color: white;
    border-radius: var(--borderRadius);
}

.about-section-text .text-container{
    margin: 3%;
    background-color: white;
}

.about-section-text .text-container p{
    margin-bottom: 8%;
    text-align: justify;
}
.software-tools{
    width: 100%;
}
.software-tools-name{
    /* border: 0.5px solid rgba(0,0,0,.125); */
    padding: 2px 8px 4px 8px;
    border-radius: var(--borderRadius);
    margin: auto;
    background-image: linear-gradient(60deg, var(--secondaryColor), rgb(140, 251, 242));
    color: white;
}

.about-section-image{
    height: 50%;
}
.about-section-image video{
    width: 100%;
}

@media screen and (max-width : 948px){
    .about-section-text .text-container p, .software-tools-name{
        font-size: 1.6vw;
    }
}

@media screen and (max-width : 480px){
    .about-section-text .text-container p, .software-tools-name{
        font-size: 3.6vw;
    }
}