.certificate-wrapper{
    display: flex;
    justify-content: center;
    gap : 1rem;
}

.certificates .card:hover{
    transform: scale(1.3); 
    z-index: 1;
    transition: 0.3s linear;
}

@media screen and (max-width : 948px){
    .certificate-wrapper{
        display: flex;
    }
}

@media screen and (min-width : 480px) {
    .mobile-certificates{
        display: none;
    }
}

@media screen and (max-width : 480px){
    .certificates{
        display: none;
    }
}

/* speed : 

software button --> add light bg color 

background dots blue . 

remove my projects 

header font -->  */