#contact-me{
    display: flex;
    justify-content: center;
}

.contact-me .row{
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadowStyle);
}

.contact-me .col-lg-6 .image-container{
    background-image: url("images/contact_me_image.jpeg");
}