.contact-me-button{
    margin-left: 10px;
    padding-left: 2px;
    display: flex;
    background: var(--primaryColor);
    color: white;
    border: 0.5px solid var(--primaryColor);
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadowStyle);
}

    .contact-me-button:hover{
        box-shadow: 0px 0px 0px white;
    }

#contact-me{
    display: flex;
    justify-content: center;
}

#contact-me .form-text p{
    color: #6c757d;
    font-size: calc(.925rem + .2vw);
    text-align: left;
}

.contact-me .row{
    width: 60%;
    margin: 7% 2% 0% 2%;
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadowStyle);
}

#contact-me .image-container img{
    width: 100%;
    border-radius:var(--borderRadius);
}

.image-container{
    margin-left: 0%;
    padding: 0%;
}

.contact-me .col-lg-6 .image-container{
    background-image: url("images/contact_me_image.jpeg");
}

.form-text{
    padding: 5% 1% 3% 1%;
}
.form-group{
    padding: 1% 0% 2% 0%;
}

#contact-me .submit-button{
    background-color: var(--primaryColor);
    color: white;
    padding: 1% 3% 1% 3%;
    border-radius: var(--borderRadius);
    border: 0px;
    margin-top: 2%;
    text-transform: uppercase;
    box-shadow: var(--boxShadowStyle);
    font-size: 14px;
}

    #contact-me .submit-button:hover{
        box-shadow: none;
        cursor: pointer;
        transition: 0.1s linear;
    }

@media screen and (max-width : 948px){
    .contact-me .row{
        margin: 10% 2% 0% 2%;
    }
}

@media screen and (max-width : 480px){
    .contact-me .row{
        width: 91%;
        margin-top: 15% ;
    }

    .contact-me .row{
        margin-top: 17% 2% 0% 2%;
        box-shadow: 0px 0px 0px white;
    }
}