.education{
    background-color: #ffffff;
    background-image: radial-gradient(#d3d3d3 0.8500000000000001px, #ffffff 0.8500000000000001px);
    background-size: 17px 17px;
    padding-bottom: 3.5%;
    padding-top: 3%;
}

.education-button{
    background-color: var(--primaryColor);
    color: white;
    padding: 1% 3% 1% 3%;
    border: 0.5px solid var(--primaryColor);;
    border-radius: var(--borderRadius);
    margin-right: 20px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

    .education-button:hover{
        background-color: white;
        color: black;    
        border: 0.5px solid var(--bordercolor);
        box-shadow: 0px 0px 0px 0px;
        transition: 0.3s linear;
    }


.education-card{
    display: flex;
}

.university-logo img{
    width: 60px;
}

    .university-name h3{
        font-size: 15px;
        margin: 0px;
        padding: 0px;
    }

    .degree-info{
        margin-left: 28px;
    }

    .degree-info p{
        margin: 0px;
        padding: 0px;
        text-align: left;
        font-weight: 450;
    }

    .degree-info span{
        font-size: 13px;
    }

@media (max-width : 948px){
    .certificate-wrapper{
        display: block;
        justify-content: center;
    }
    .education .card-body{
        padding: 5%;
    }
    .education .card-body .education-card{
        display: block;
    }
    .university-logo{
        display: flex;
        justify-content: center;
    }
    .education .card-body .university-logo img{
        max-width: 50px;
    }
    .degree-info{
        margin-left: 2%;
    }
}

@media screen and (max-width : 480px){
    .education-button{
        font-size: 3.6vw;
        margin-bottom: 10px;
    }
    .university-logo{
        display: none;
    }
    .university-name h3{
        color: var(--secondaryColor);
    }

    .education .row{
        display: block;
    }

    #multiCollapseExample1, #multiCollapseExample2, #multiCollapseExample3{
        margin-bottom: 10px;
    }
}