.education{
    margin: 10px 50px 10px 50px;
    padding: 10px 30px 10px 30px;
}

.education-college h4{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 10px 10px 10px;
    margin: 0px 10px 10px 10px;
}

.history-tl-container{
    font-family: "Roboto",sans-serif;
    width:50%;
    margin:auto;
    display:block;
    position:relative;
}
.history-tl-container ul.tl{
    margin:20px 0;
    padding:0;
    display:inline-block;

}
.history-tl-container ul.tl li{
    list-style: none;
    margin:auto;
    margin-left:200px;
    min-height:50px;
    /*background: rgba(255,255,0,0.1);*/
    border-left:1px dashed #86D6FF;
    padding:0 0 50px 30px;
    position:relative;
}
.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #00887A;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;

}
.history-tl-container ul.tl li:hover::before{
    border-color:  #00887A;
    transition: all 1000ms ease-in-out;
}

ul.tl li .item-detail{
    color:rgba(0,0,0,0.5);
    font-size:12px;
}

ul.tl li .degree{
    color:rgba(0,0,0,0.5);
    font-size:12px;
    font-weight: 600;
}

ul.tl li .timestamp{
    color: #8D8D8D;
    position: absolute;
  width:100px;
    left: -50%;
    text-align: right;
    font-size: 12px;
}

@media (max-width: 680px){
    .education{
        margin: 15px 10px 10px 10px;
        padding: 10px;
    }

    .education-college h4{
        font-size: 18px;
    }

    .history-tl-container{
        margin:10px 10px 10px 10px;
    }

    .history-tl-container ul{
        margin: 5px;
    }

    .history-tl-container ul.tl li{
        margin: 0px 0px 10px 10px;
        padding-bottom: 30px;
    }

    .timestamp{
        display: none;
    }

    ul.tl li .item-detail{
        display: none;
    }

    ul.tl li .degree{
        font-weight: 400;
        font-size: 10px;
    }
}