.experience-biscuits{
    padding: 1.5% ;
    border-radius: var(--borderRadius);
    box-shadow: rgba(190, 191, 192, 0.15) 0px 5px 15px 0px;    
    border: 0.5px solid rgba(0,0,0,.125);
    margin-bottom: 2%;
}

    .experience-biscuits:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        transition: 0.2s linear;
        cursor: pointer;
        transform: translateY(-5px);
    }

.company-info{
    display: flex;
}

.company-text{
    padding: 1% 1% 0% 2%;
}
    .company-text .work-done span{
        padding: 2px 5px 5px 5px;
        border-radius: var(--borderRadius);
        margin-left: 5px;
        background-image: linear-gradient(60deg, var(--secondaryColor), rgb(140, 251, 242));
        color: white;
    }

.position .company-name {
    font-weight: 600;
    color: var(--secondaryColor);
}

.position .location , .role{
    font-weight: 400;
    color: rgb(80, 80, 80);
}

.work-done p{
    text-align: justify;
    padding: 0;
}

.company-logo{
    width: 200px;
}

.company-logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

@media screen and (max-width : 948px){
    .company-logo img{
        max-height: 80px;
    }

    .company-text span{
        font-size: 1.8vw;
    }
        .company-text p{
            font-size: 1.6vw;
        }
    
    .work-done li{
        font-size: 1.8vw;
    }
        
}

@media screen and (min-width : 480px) {
    .mobile-experience{
        display: none;
    }
}

@media screen and (max-width : 480px){
    .mobile-experience{
        margin-top: 10%;
    }
    
    .company-logo img{
        max-height: 40px;
    }

    .company-text span{
        font-size: 2.8vw;
    }
        .company-text p{
            font-size: 2.8vw;
        }

    .work-done li{
        font-size: 2.8vw;
        text-align: justify;
        margin-bottom: 3%;
    }

    .experience{
        display: none;
    }
}