.experience-biscuits{
    padding: 1.5% ;
    border-radius: var(--borderRadius);
    box-shadow: rgba(190, 191, 192, 0.15) 0px 5px 15px 0px;    
    border: 0.5px solid rgba(0,0,0,.125);
    margin-bottom: 2%;
}

    .experience-biscuits:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        transition: 0.2s linear;
        cursor: pointer;
        transform: translateY(-5px);
    }

.company-info{
    display: flex;
}

.company-text{
    padding: 1% 1% 0% 2%;
}
    .company-text .work-done .tools-and-tech span{
        padding: 2px 5px 5px 5px;
        border-radius: var(--borderRadius);
        margin-left: 5px;
        background-image: linear-gradient(60deg, var(--secondaryColor), rgb(140, 251, 242));
        color: white;
    }

.position .company-name {
    font-weight: 600;
    color: var(--secondaryColor);
}

.position .location , .role{
    font-weight: 400;
    color: rgb(80, 80, 80);
}

.work-done p{
    text-align: justify;
    padding: 0;
}

    .work-done a{
        text-decoration: none;
    }

.company-logo{
    width: 200px;
}

.company-logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

.about-company p{
    margin: 2% 0% 2% 0%;
    padding: 0;
    text-align: justify;
}

.company-certificate span{
    background-color: var(--primaryColor);
    border: 0.5px solid var(--primaryColor);;
    border-radius: var(--borderRadius);
    color: white;
    padding: 2px 8px 4px 8px;
    font-size: 12px;
}

.mobile-experience .about-company p{
    margin: 6% 0% 5% 0%;
    padding: 0;
    text-align: justify;
}

.tools-and-tech span, b{
    font-size: 14px;
}

.role, .company-name, .location{
    font-size: 1.3vw;
}

.company-text p, li{
    font-size: 1vw;
}

@media screen and (max-width : 948px){
    .company-logo img{
        max-height: 80px;
    }

    .company-text span{
        font-size: 2vw;
    }
        .company-text p, li{
            font-size: 1.7vw;
        }

    .work-done li{
        margin: 0;
        padding: 0;
        list-style-type: circle;
    }
        
}

@media screen and (min-width : 480px) {
    .mobile-experience{
        display: none;
    }
}

@media screen and (max-width : 480px){
    .mobile-experience{
        margin-top: 10%;
    }

    .mobile-experience .role, .mobile-experience .company-name, .mobile-experience .location{
        font-size: 3.6vw;
    }
    
    .company-logo img{
        max-height: 40px;
    }

    .company-text span{
        font-size: 2.8vw;
    }
        .company-text p{
            font-size: 2.8vw;
        }

    .work-done li{
        margin: 0;
        padding: 0;
        font-size: 2.8vw;
        text-align: justify;
        margin-bottom: 2.5%;
    }

    .experience{
        display: none;
    }

    .tools-and-tech span, b{
        font-size: 2.6vw;
    }
}