@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Flex:opsz,wght@8..144,200&display=swap');
:root{
    --primaryColor : #141414;
    --secondaryColor : rgba(49,247,232,255); /*#31f7e8 */
    --secondaryColor2 : rgba(26,181,214,255);
    --bordercolor : rgba(0,0,0,.125);
    --headerFontSize : 20px; 
    --paraFontSize : 16px;
    --paraFontFamliy : 'Roboto Flex', sans-serif;
    --boxShadowStyle : rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --borderRadius : 5px;
    --mainHeaderSizeLarge : 2vw;
    --mainHeaderSizeMedium : 2vw;
    --mainHeaderSizeSmall : 1vw;
}

.wrapper{
    padding: 2%;
    margin: 2%;
}

.section-name{
    text-align: center;
} 

.reveal {
    position: relative;
    opacity: 0;
  }
  
    .reveal.active {
        opacity: 1;
    }

.active.fade-bottom{
    animation: fade-bottom 0.8s ease-in;
}
.active.fade-left{
    animation: fade-left 0.8s ease-in;
}
.active.fade-right{
    animation: fade-right 0.8s ease-in;
}

@keyframes fade-bottom {
    0% {
      transform: translateY(70px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
  
@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}