.project-class-heading{
    margin: 1%;
}
.item img{
    height: 200px;
}

.item:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: 0.2s linear;
    cursor: pointer;
    transform: translateY(-10px);
    border-radius: var(--borderRadius);
}

.card-image .content-overlay{
    background: #454b4a;
    position: absolute;
    height: 200px;
    width: 100%;
    transition: all 0.4s ease-in-out;  
    opacity: 0.5;
}

.card-image:hover .content-overlay{
    opacity: 0;
}

.projects .card-body{
    /* border: 0.5px solid var(--secondaryColor); */
}

.owl-stage{
    padding: 10px 0px 10px 0px;
}
    .owl-dots{
        display: none;
    }

    .owl-nav button span{
        font-size: 2.6vw;
    }

.app-link button{
    background-color: var(--primaryColor);
    border: 0.5px solid var(--primaryColor);
    border-radius: var(--borderRadius);
    color: white;
    padding: 2px 8px 4px 8px;
    font-size: 12px;
}

    .app-link button:hover{
        box-shadow: var(--boxShadowStyle);
        transform: translateY(-2px);
    }



.project-link, .project-tag-links .github-link {
    padding: 1% 2% 0.5% 2%;
    border: 0.5px solid var(--secondaryColor);
    border-radius: var(--borderRadius);
    font-size: 10px;
    background-color: white;
    text-transform: uppercase;
    text-decoration: none;
}

    .project-link:hover, .project-tag-links .github-link:hover{
        box-shadow: var(--boxShadowStyle);
        border: 0.5px solid white;
        transition: 0.3s linear;
        color: var(--primaryColor);
    }

    .project-tag-links{
        display: flex;
        justify-content: space-between;
    }

@media screen and (max-width : 948px){
    .projects h3{
        font-size: 2.8vw;
    }

    .projects h4{
        font-size: 2vw;
    }

}

@media screen and (max-width : 480px){
    .projects h3{
        font-size: 4.8vw;
    }

    .projects h4{
        font-size: 3.6vw;
    }
    .projects p{
        display: none;
    }
    .owl-nav button span{
        font-size: 6vw;
    }
}