.skills{
    height: 50px;
}

.skills .section-name .row{
    justify-content: space-around;
}

.skills .wrapper{
    padding: 1%;
    position: relative;
    bottom: 180px;
    left: 525px;
    margin: 0%;
}
.skills .wrapper{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 60%;
    border-radius: var(--borderRadius);
    position: relative;
    background-color: white;
}

.skills .wrapper .row .progress{
    height: 20%;
}

.progress-bar{
    background-color: rgb(49, 60, 61);
    color: var(--primaryColor);
}

.skills h3{
    font-size: 20px;
}