<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags for SEO -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image"  content="https://soumyadipghorai.github.io/images/header_image.jpg">
    <meta name="title" content="Soumyadip Ghorai ">
    <meta name="description" content="Hi this is Soumyadip Ghorai, I'm a data science student and this is my portfolio">
    <meta name="keywords" content="Soumyadip Ghorai, Data Scientist, Data Analyst, Data Storyteller, Data Science portfolio, Data Scientist in India ">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="5 days">
    <meta name="author" content="Soumyadip Ghorai">
    <meta name="google-site-verification" content="UqlW6v6jE30r7X0VxnLadnin4MHI8wlueryHe34a8L8" />
    
    <title>Soumyadip Ghorai</title>
    
    <!-- -------------css------------ -->
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/about_section.css">
    <link rel="stylesheet" href="css/project.css">
    <link rel="stylesheet" href="css/education.css">
    <link rel="stylesheet" href="css/photo_section.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/contribution.css">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/certificats.css">
    
    <!-- fav icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    
    <!-- ------------js-------------- -->
    <script type="text/javascript" src="js/auto_typer.js"></script>
    <!-- <script type="text/javascript" src="js/update_notice.js"></script> -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-879LH4SZ1Z"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-879LH4SZ1Z');
    </script>

    <style>
        .item-algin-center{
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    
    <!--?---------- navbar ---------->
    <header>
        <div class="top-nav-bar">
            <div class="header-logo">
                <p class="ghor">ghor<span class="ai">AI</span></p>
            </div>
            <div class="item-algin-center">
                <div class="nav-bar-menu">
                    <ul>
                        <!-- <li class="nav-bar-menu-item"><a href="/" class="">home</a></li> -->
                        <li class="nav-bar-menu-item"><a href="#about-me" class="">About</a></li>
                        <li class="nav-bar-menu-item"><a href="#my-project" class="">Project</a></li>
                        <li class="nav-bar-menu-item"><a href="#education" class="">Education</a></li>
                        <li class="nav-bar-menu-item"><a href="#photo-gallery" class="">Gallery</a></li>
                        <!-- <li class="nav-bar-menu-item"><a href="#contact-me" class="">Contact Me</a></li> -->
                    </ul>
                </div>
            </div> 
            <!-- <div class="hire-me">
                <a href="mailto:ghorai.soumyadip33@gmail.com"><button>Hire me</button></a>
            </div> -->
        </div>
    </header>

    <!--?---------- image banner ------------->
    <section class="hero-header">
        <div class="hero-header-text">
            <div class="hero-header-tag-line">
                <span id="header-text1"><b>Hi!</b> This is Soumyadip</span><span class="random_text" style="color: white;">random spaces</span><br> 
                <!-- <p class="line-1 anim-typewriter"><b>Hi!</b> This is Soumyadip</p> -->
                <div class="wrapper">
                    <span id="header-text2">I'm a Data&nbsp;</span>
                    <a href="" class="typewrite" data-period="2000" data-type='["Analyst", "Scientist", "Storyteller"]'>
                        <span class="wrap"></span>
                    </a>
                </div>
            </div>
            <div class="location">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 14c-3.314 0-6-2.686-6-6s2.686-6 6-6 6 2.686 6 6-2.686 6-6 6z"/></svg>
                <p>India</p>
            </div>
            <div class="coding-platforms">
                <a href="https://github.com/soumyadipghorai" target="_blank"><img src="images/github.png" alt="soumyadip ghorai github profile"></a>
                <a href="https://www.kaggle.com/soumyadipghorai" target="_blank"><img src="images/kaggle.png" alt="soumyadip ghorai kaggle profile"></a>
                <a href="https://www.hackerrank.com/ghorai_soumyadi1" target="_blank"><img src="images/hackerrank.png" alt="soumyadip ghorai hackerrankprofile"></a>       
                <a href="https://www.codechef.com/users/sghorai_2000" target="_blank"><img src="images/codechef.png" alt="soumyadip ghorai codechef profile"></a>
            </div>

            <div class="lead-generate">
                <div class="resume">
                    <a href="Soumyadip_Ghorai.pdf" target="_blank" class="resume"><button>Resume</button></a>
                </div>
                <div class="hire-me">
                    <a href="mailto:ghorai.soumyadip33@gmail.com"><button>Hire me</button></a>
                </div>
            </div>
        </div>
        <div class="item-algin-center">
            <div class="hero-header-iamge">
                <img src="images/header_image.jpg" alt="soumyadip ghorai main image">
            </div>
        </div>
    </section>

    <!--?------- Experience ------------>
    <section class="contribution">
        <div class="contribution-text">
            <h4>Experience</h4>
            <!-- <p>I have contributed to the following organizations</p> -->
        </div>
        <div class="contribution-div">
            <div class="contribution-image-container">
                <div class="company-div">
                    <a href="Ericsson.pdf" target="_blank"><img class="ericsson" src="images/company_1.png" alt="Data analyst internship"></a>
                    <div class="company-div-text">
                        <p>Intern</p>
                    </div>
                </div>
                <div class="company-div">
                    <a href="https://gdsc.community.dev/christ-deemed-to-be-university-bengaluru/" target="_blank"><img class="gdsc" style="height: 50px;" src="images/Untitled-3.jpg" alt="google Developers student club member"></a>
                    <div class="company-div-text">
                        <p style="margin-top: 30px;">Core Team member</p>
                    </div>
                </div>
                <div class="company-div">
                    <a href="https://www.facebook.com/estatuskolkata" target="_blank"><img class="estatus" style="height: 60px;" src="images/Untitled-2.jpg" alt="E-STAT-Us Founder"></a>
                    <div class="company-div-text">
                        <p>Founder</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--?------- about me  ----------->
    <section class="about-section" id="about-me">
        <div class="about-section-main">
            <div class="about-section-image">
                <img src="images/about_me.jpg" alt="soumyadip ghorai about me image">
            </div>
            <div class="about-section-text">
                <h2 class="about-section-header">
                    About Myself
                </h2>
                <div class="about-section-para">
                    <p>Hi there! I'm Soumyadip Ghorai, a self driven individual with good problem solving skills and a growth mindset. I'm learning data science, python, machine learning and web development from IIT Madras, Christ University, Bangalore and various other open sources.</p>
                    
                    <p>Along with that I'm a state level athlete, love mountains and adventure sports and I like to organize events and work best with like-minded people. </p>

                    <!-- <p>I would love to contribute to the IT sector in Bangalore as a Data Analyst or Data Scientist, explore new challenges and find out the best fit for myself.</p> -->

                    <!-- <p><b>Fun Fact :</b>I don't watch sports but I have good skills in football</p> -->
                    <p> I have working experience with the following tools and softwares : </p>

                    <div class="tools-software">
                        <p>VS Code</p>
                        <p>Jupyter Notebook</p>
                        <p>Excel</p>
                        <p>Github</p>
                        <p>PowerBi</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-section-skills">
            <div class="about-section-skills-text">
                <h3 class="about-section-header">
                    skills
                </h3>
                <p class="about-section-para">
                    Here is some of the things that I'm good at... 😋
                </p>
            </div>
            <div class="about-section-skills-text-progressbar">
                <div class="skills-flex1">
                    <div class="skills-subflex">
                        <p>Python</p>
                        <div class="skills-container">
                            <div class="skills python" id="python">90%</div>
                        </div>
                    </div>
                    <div class="skills-subflex">
                        <p>SQL</p>
                        <div class="skills-container">
                            <div class="skills sql" id="sql">80%</div>
                        </div>
                    </div>
                </div>
                <div class="skills-flex1">
                    <div class="skills-subflex">
                        <p>HTML | CSS</p>
                        <div class="skills-container">
                            <div class="skills html" id="html">75%</div>
                        </div>
                    </div>
                    <div class="skills-subflex">
                        <p>Machine Learning</p>
                        <div class="skills-container">
                            <div class="skills ml" id="ml">70%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--?------------ project -------------->
    <section class="project" id="my-project">
        <div class="project-text">
            <h3 class="project-text-header">
                My Projects
            </h3>
            <p class="project-text-para">
                Here are some of my best projects 
            </p>
        </div>
        <div class="project-container">
            <div class="container-project">
                <div class="project-image-container"> <!--  content  -->
                    <a href="https://www.kaggle.com/soumyadipghorai/covid-19-vaccination-drive-india" target="_blank">
                        <div class="content-overlay"></div>
                        <img class="project-feature-image" src="images/kaggle_covid.png" alt="soumyadip ghorai kaggle data analysis project">
                    </a>
                    <div class="content-details">
                        <a href="https://github.com/soumyadipghorai/News-Scraper" target="_blank">
                            <button class="view-project">View Project</button>
                        </a>
                    </div>
                </div>
                <a href="https://www.kaggle.com/soumyadipghorai/covid-19-vaccination-drive-india" target="_blank"><h4>Covid-19 EDA</h4></a>
                <p>A kaggle based EDA project where I captured various trends of covid vaccintion</p>
            </div>
            <div class="container-project">
                <div class="project-image-container">
                    <a href="https://github.com/soumyadipghorai/News-Scraper" target="_blank">
                        <div class="content-overlay"></div>
                        <img src="images/news_scapper.png" alt="soumyadip ghorai newsapp data science project">
                    </a>
                    <div class="content-details">
                        <a href="https://github.com/soumyadipghorai/News-Scraper" target="_blank">
                            <button class="view-project">View Project</button>
                        </a>
                    </div>
                </div>
                <a href="https://github.com/soumyadipghorai/News-Scraper" target="_blank"><h4>News Scrapper</h4></a>
                <p>Flask based web app which scraps multiple news websites on real time</p>
            </div>
            <div class="container-project">
                <div class="project-image-container">
                    <a href="https://github.com/soumyadipghorai/Timeseries-analysis-dogecoin" target="_blank">
                        <div class="content-overlay"></div>
                        <img src="images/dogecoin.jpg" alt="soumyadip ghorai Dogecoin data analysis project">
                    </a>
                    <div class="content-details">
                        <a href="https://github.com/soumyadipghorai/News-Scraper" target="_blank">
                            <button class="view-project">View Project</button>
                        </a>
                    </div>
                </div>
                <a href="https://github.com/soumyadipghorai/Timeseries-analysis-dogecoin" target="_blank"><h4>Doge Coin</h4></a>
                <p>Graduation Final year project on Doge coin. Applied various statistical methods</p>
            </div>
        </div>
    </section>
    
    <!--?------------- education ----------------->
    <section class="education" id="education">
        <div class="education-college">
            <h4>Education</h4>
        </div>
        <div class="item-algin-center">
            <div class="history-tl-container">
                <ul class="tl">
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                        2018 Oct - 2021 Oct
                        </div>
                        <div class="item-title">University of Calcutta</div>
                        <div class="degree">BSc Statistics</div>
                        <div class="item-detail">Represented my college in State Level meet</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                        April 2021 - Present
                        </div>
                        <div class="item-title">IIT, Madras</div>
                        <div class="degree">BSc Data science</div>
                        <div class="item-detail">Among the top 10percentile in the qualifier round</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                        Aug 2021 - Present
                        </div>
                        <div class="item-title">Christ University, Bangalore</div>
                        <div class="degree">MSc Data Science</div>
                        <div class="item-detail">Google Developers Student Club Core team member</div>
                    </li>
                </ul>   
            </div>
        </div>
    </section>

    <!--?------------- certifications ----------------->
    <section class="certifications">
        <div class="certifications-text">
            <h3>Certifications</h3>
            <p>I'm Certified by the following</p>
        </div>
        <div class="certificates">
            <div class="certificates-container">
                <div class="certificates-div">
                    <div class="certificate-image">
                        <a href="https://www.hackerrank.com/certificates/57e6fd29587c" target="_blank"><img src="images/hackerrankC.png" alt="soumyadip ghorai hackerrank python problem solving certificate"></a>
                    </div>
                    <div class="certificate-text">
                        <p>Problem Solving</p>
                    </div>
                </div>
                <div class="certificates-div">
                    <div class="certificate-image">
                        <img src="images/udemy.png" alt="soumyadip ghorai udemy python certificate">
                    </div>
                    <div class="certificate-text">
                        <p>Python</p>
                    </div>
                </div>
                <div class="certificates-div">
                    <div class="certificate-image">
                        <a href="https://padhai.onefourthlabs.in/certificates/lnhzwxvthw" target="_blank"><img src="images/PadhAi.png" alt="soumyadip ghorai PadhAI data science certificate"></a>
                    </div>
                    <div class="certificate-text">
                        <p>Foundation of Data Science</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--?------------- gallery ----------------->
    <section class="photo-gallery" id="photo-gallery">
        <div class="photo-gallery-text">
            <h4>My Photo Gallery</h4>
            <p> When I'm not coding I'm either capturing moments or backpacking for mountains</p>
            <p>I don't own a DSLR yet so I capture with my phone</p>
            <p>Here are some of my captures</p>
        </div>
        <div class="item-algin-center">
            <div class="photo-gallery-container">
                <div class="photo-container-1">
                    <img src="images/photo_gallery1.jpeg" alt="photo-gallery">
                    <img src="images/photo_gallery2.jpg" alt="photo-gallery">
                </div>
                <div class="photo-container-2">
                    <div class="photo-container-2-1">
                        <img class="varticle-1" style="height: 388px;" src="images/photo_gallery4.jpeg" alt="photo-gallery">
                    </div>
                    <div class="photo-container-2-2">
                        <img class="varticle-2" style="width: 530px;" src="images/photo_gallery3.jpg" alt="photo-gallery">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--?------------- contact form | disabled ----------------->
    <section class="contact-me" id="contact-me">
        <div class="form-container">
            <div class="contact-me-text">
                <h4>Contact Me</h4>
                <p>Fill out this form to reach out to me</p>
            </div>
            <div class="contact-me-form">
                <form action="">
                    <p>Name : <input class="input-box" type="text" id='name' required placeholder="Enter your name"></p>
                    <p>Email : <input class="input-box" type="email" id = 'email' required placeholder="Enter email"></p>
                    <p>Subject : <input class="input-box subject" type="text" id='subject' required placeholder="Enter subject"></p>
                    <p>Message : <input class="input-box large" type="text" id='message' required placeholder="Type your message..."></p>
                    <input class='submit' type="Submit" name="Send" value="SUBMIT">
                </form>
            </div>
        </div>
    </section>

    <!--?------------- footer ----------------->
    <footer>
        <div class="follow-me">
            <h4> Follow Me</h4>
            <p>Let's be social</p>
            <div class="social-links">
                <a href=" https://www.facebook.com/soumyadip.ghorai.10" target="_blank"><img src="images/social_media_1.png" alt="Soumyadip ghorai Facebook profile"></a>
                <a href="https://www.linkedin.com/in/soumyadip-ghorai/" target="_blank"><img src="images/social_media_2.png" alt="Soumyadip ghorai Linkedin profile"></a>
                <a href="https://www.instagram.com/soumyadipghorai/?hl=en" target="_blank"><img src="images/social_media_3.png" alt="Soumyadip ghorai instagram profile"></a>
            </div>
        </div>
        <div class="copy-right">
            <p><b>Copyright ©2021</b> | Created with ❤️ by <span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><b>Soumyadip Ghorai</b></span> </p>
        </div>
    </footer>
</body>
</html>